@charset "utf-8";

body {
    background-color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

#wrap {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 1000px;
    height: 400px;
    border: 1px solid #999;
    border-radius: 8px 8px 0 0;
    background-image: url(Content/StartUpDrakor.png);
    background-size: cover; /* Mengisi ruang header dengan gambar */
}

#menu {
    width: 1000px;
    height: 30px;
    border: 1px solid #000;
    margin-top: 2px;
    background-color: palevioletred;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu ul li {
    list-style: none;
    float: left;
    padding: 4px 0px 6px;
    border-right: 1px solid #999;
    position: relative;
}

#menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#menu ul li a span {
    padding: 5px 19px 7px;
}

#menu ul li a:hover span {
    background-color: pink;
    color: #fff;
}

#menu ul li ul {
    display: none;
}

#menu ul li:hover ul {
    display: block;
    position: absolute;
    top: 30px;
    background-color: palevioletred;
    border: 1px solid #999;
    border-right: 0px solid #999;
}

#menu ul li:hover ul li {
    margin-top: 0;
    padding: 0;
}

#menu ul li:hover ul li a span {
    display: block;
    width: 150px;
}

#container {
    display: flex;
    /* width: 1200px; */
}

/* #left {
    width: 250px;
    height: 500px;
    margin: 10px auto;
    border: 1px solid #000;
    float: left;
} */

#left {
    width: 250px;
    margin: 10px;
    border: 1px solid #000;
}

#top-left {
    width: 250px;
    height: auto;
    margin: 0px auto;
}

#title {
    width: 100%;
    height: 30px;
    background-color: palevioletred;
    margin-bottom: 1px;
    border: 1px solid palevioletred;
    text-align: center;
    font-weight: bold;
}

#title p {
    padding: 0;
    margin: 5px auto;
}

content-tl {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
}

/* #right {
    width: 740px;
    height: 500px;
    border: 1px solid #000;
    float: left;
    margin: 10px -2px 10px 7px;
} */

#right {
    width: 750px;
    border: 1px solid #000;
    margin: 10px 7px;
}

#footer {
    width: 1000px;
    height: 100px;
    border: 1px solid #000;
    float: left;
    margin: 5px 0;
}

#top-right {
    width: 100%;
    height: auto;
}

#banner {
    width: 100%;
    height: 100px;
    border: 1px solid #000;
    margin-top: 10px;
    float: left;
}

#content-tr {
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */
}

#content-tr p {
    text-align: justify;
    line-height: 25px;
    padding: 5px;
}

#content-tl ul {
    padding: 0;
    margin: 0;
}

#content-tl ul li {
    list-style: url(image/icon.png);
    margin: 10px 0 5px 30px;
}

#content-tl ul li a {
    text-decoration: none;
    color: #000;
}

#content-tl ul li a:hover {
    color: #06f;
    text-decoration: underline;
}

#copyright {
    width: 100%;
    height: 40px;
    margin: 5px auto;
    color: #999;
}

#form {
    width: 100%;
    height: auto;
    margin: 10px;
}

#label {
    width: 130px;
    float: left;
}

#t2 {
    width: 10px;
    float: left;
}

#input {
    padding-bottom: 10px;
}

#submit {
    margin-left: 140px;
}

#image-gallery img{
   width: 230px;
   height: 120px;
   border: 3px solid palevioletred;
   padding: 5px;
}   
